.shopTitle {
  margin-top: 20px; /* Adjust the margin as needed for smaller devices */
  text-align: center;
  font-size: 24px; /* Adjust the font size for smaller devices */
}

.products {
  width: 100%;
  display: grid; /* Use a grid layout */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum and maximum size */
  gap: 20px; /* Adjust the gap between products */
}

.product {
  border-radius: 15px;
  margin: 20px; /* Adjust margin for spacing between products */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product img {
  width: 100%; /* Make images fill the container */
}

.product .description {
  text-align: center;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}